<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="fr.guddy.android_modular_reloaded.second.App"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name="fr.guddy.android_modular_reloaded.second.DebugActivity"/>
    </application>
</manifest>
